/* fonts */
.f-family-main {
    font-family: Arial, Helvetica, sans-serif;
}

.f-size-14 {
    font-size: 14px;
}

.f-size-16 {
    font-size: 16px;
}

.f-size-24 {
    font-size: 24px;
}

.color-303846 {
    color: #303846;
}

.color-white {
    color: white;
}

.color-49dcc0 {
    color: #49dcc0;
}
/* end */


/* flex */
.d-flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.al-items-center {
    align-items: center;
}

.js-cont-center {
    justify-content: center;
}

.f-dir-column {
    flex-direction: column;
}

.f-dir-row {
    flex-direction: row;
}

.r-reverse {
    flex-direction: row-reverse;
}
/* end */


/* padding */
.p-top-50 {
    padding-top: 50px;
}

.p-bottom-50 {
    padding-bottom: 50px;
}

.p-top-70 {
    padding-top: 70px;
}
/* end */


/* box dimensions */
.width-100pers {
    width: 100%;
}

.width-200 {
    width: 200px;
}

.width-150 {
    width: 150px;
}

.m-width-150 {
    max-width: 150px;
}

.m-width-300 {
    max-width: 300px;
}

.height-30 {
    height: 30px;
}
/* end */


/* borders */
.b-color-grey {
    border-color: grey;
}

.b-color-49dcc0 {
    border-color: #49dcc0;
}

.b-color-white {
    border-color: white;
}

.b-radius-10 {
    border-radius: 10px;
}

.b-style-solid {
    border-style: solid;
}

.b-width-1 {
    border-width: 1px;
}
/* end */


/* background */
.bg-303846 {
    background: #303846;
}

.bg-white {
    background: white;
}

.bg-f7f7f7 {
    background: #f7f7f7;
}
/* end */


/* objects */
.logo {
    width: 50px;
    height: 50px;
    padding: 10px;
}

.btn {
    background: rgba(0, 0, 0, 0);
    padding: 1em;
    border: 2px solid;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
}
/* end */


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom:  50px;
    background-image: url(../images/banner.png);
    background-position: center;
    background-size: cover;
}



.main-section {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #303846;
    margin: 0;
}

.main-section-content {
    display: flex;
    align-items: flex-start;
    width: 1000px;
    list-style: none;
    line-height: 150%; 
    padding-inline-start: 0;
    margin: 20px;
}

.content-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 500px;
  flex-shrink: 1;
  padding: 20px;
  box-sizing: border-box;
}

.form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-column {
    display: flex;
    flex: 1;
}


.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}



header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    height: 70px;
    width: 100%;
    background: white;
}

header nav ul {
    display: flex;
    list-style: none;
    flex: 1;
    padding-right: 10px;
}

header nav ul li {
    padding: 5px;
}

main * {
    margin: 5px;
}
