:root {
    --white: white;
    --light-grey: #f7f7f7; 
    --grey: grey;
    --dark-grey: #303846;
    --black: black;
    --green: #49dcc0;
    --banner: url(../images/banner.png);
    --header-height: 70px;
    --section-width: 1000px;
}

/* fonts */
.f-family-main {
    font-family: Arial, Helvetica, sans-serif;
}

.f-size-10 {
    font-size: 10px;
}

.f-size-14 {
    font-size: 14px;
}

.f-size-16 {
    font-size: 16px;
}

.f-size-24 {
    font-size: 24px;
}

.color-dark-grey {
    color: var(--dark-grey);
}

.color-white {
    color: var(--white);
}

.color-green {
    color: var(--green);
}
/* end */


/* flex */
.d-flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.al-items-center {
    align-items: center;
}

.js-cont-center {
    justify-content: center;
}

.f-dir-column {
    flex-direction: column;
}

.f-dir-row {
    flex-direction: row;
}

.r-reverse {
    flex-direction: row-reverse;
}
/* end */


/* box dimensions */
.width-section {
    width: var(--section-width);
}

.width-100perc {
    width: 100%;
}

.width-200 {
    width: 200px;
}

.width-150 {
    width: 150px;
}

.m-width-150 {
    max-width: 150px;
}

.m-width-300 {
    max-width: 300px;
}

.height-30 {
    height: 30px;
}
/* end */


/* padding */
.p-3 {
    padding: 3px;
}

.p-5 {
    padding: 5px;
}

.p-20 {
    padding: 20px;
}

.p-right-10{
    padding-right: 10px;
}

.p-top-50 {
    padding-top: 50px;
}

.p-bottom-50 {
    padding-bottom: 50px;
}

.p-top-header {
    padding-top: var(--header-height);
}
/* end */

/* margin */
.m-top-0 {
    margin-top: 0px;
}

.m-bottom-5 {
    margin-bottom: 5px;
}

.m-0 {
    margin: 0
}

.m-5 {
    margin: 5px;
}

.m-20 {
    margin: 20px;
}
/* end */


/* borders */
.b-color-grey {
    border-color: var(--grey);
}

.b-color-green {
    border-color: var(--green);
}

.b-color-white {
    border-color: var(--white);
}

.b-radius-10 {
    border-radius: 10px;
}

.b-style-solid {
    border-style: solid;
}

.b-width-1 {
    border-width: 1px;
}
/* end */


/* background */
.bg-dark-grey {
    background: var(--dark-grey);
}

.bg-white {
    background: var(--white);
}

.bg-light-grey {
    background: var(--light-grey);
}

.bg-img-banner {
    background-image: var(--banner);
    background-position: center;
    background-size: cover;
}
/* end */


/* lists */
.l-style-none {
    list-style: none;
}
/* end */


/* links */
.t-decor-none {
    text-decoration: none;
}
/* end */


/* objects */
.header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    height: var(--header-height);
}

.logo {
    width: 50px;
    height: 50px;
    padding: 10px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0);
    padding: 1em;
    border: 2px solid;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
}

.navigation-menu {
    display: flex;
    flex: 1;
    list-style: none;
}

.nav-link {
    font-weight: bold;
}

.nav-link:link { color: var(--dark-grey); }

.nav-link:visited { color: var(--dark-grey); }

.nav-link:hover { color: var(--black); }

.section {
    display: flex;
    justify-content: center;
}

.section-content {
    display: flex;
    align-items: flex-start;
    list-style: none;
    line-height: 150%; 
    padding-inline-start: 0;
}

.large-img-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-content-item {
  flex-basis: 500px;
  box-sizing: border-box;
}
/* end */
